PORT=5055
DATABASE_URL=postgresql://postgres:password@host:5432/postgres
JWT_SECRET=lilticket_secret_key
JWT_EXPIRES_IN=7d
PUBLIC_BACKEND_URL=https://your-backend-domain.example.com
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
XENDIT_SECRET_KEY=dummy_xendit_secret_key
XENDIT_WEBHOOK_TOKEN=dummy_webhook_token
